@model IndexModel
@{
    ViewBag.Title = "شرکت نوین ران صنعت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <!-- Home Banner Start -->
    <section id="home" class="home-banner bg-center-center bg-cover" style="background-image: url(/Content/static/img/home-banner-bg.png);">
        <div id="particles-box"></div>

        <div class="container">
            <div class="row full-screen align-items-center">
                <div class="col col-md-7 col-lg-7 col-xl-9 md-p-30px-b p-50px-tb">
                    <div class="home-text-center theme-after p-50px-r md-p-0px-r">
                        <label>خوش آمدید به</label>
                        <h1 class="font-alt">شرکت مهندسی نوین ران صنعت سهامی خاص</h1>
                        <p>طراحی مشاور،ساخت،فروش،نصب و راه انداز انواع اسانسور</p>
                        <p>عضو رسمی سندیکای اسانسور و پله برقی ایران</p>
                        <p>دارای پروانه طراحی و مونتاژ اسانسور از وزارت صنایع</p>
                        <div class="app-btn-set">
                            <a href="/about-us" class="m-btn">درباره شرکت</a>
                        </div>

                    </div> <!-- home-text-center -->
                </div> <!-- col -->
                <div class="col-md-5 col-lg-5 col-xl-3 p-60px-t md-p-20px-t home-right-img text-center">
                    <img src="/Content/static/img/banner-block.png" title="" alt="">
                </div> <!-- col -->
            </div> <!-- row -->
        </div><!-- container -->
    </section>
    <!-- / -->
    <!-- Feature Section -->
    <section id="about" class="section feature-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 m-15px-tb">
                    <div class="feature-box" style="background-image: url(/Content/static/img/feature-box-bg.png);">
                        <div class="icon">
                            <i class="fas fa-user theme-color"></i>
                        </div>
                        <h3 class="font-alt">طراحی و مشاوره</h3>
                        <p>توصیه هایی برای انتخاب اسانسور و راهنمایی برای تعیین اندازه ها.</p>
                    </div>
                </div> <!-- col -->

                <div class="col-md-4 m-15px-tb">
                    <div class="feature-box box02" style="background-image: url(/Content/static/img/feature-box-bg.png);">
                        <div class="icon">
                            <i class="fas fa-check-square theme-color"></i>
                        </div>
                        <h3 class="font-alt">کیفیت بالا</h3>
                        <p> کابین به صورت تمام وارداتی از کشورهای اروپایی یا ترکیه و یا به صورت ساخت داخلی.</p>
                    </div>
                </div> <!-- col -->

                <div class="col-md-4 m-15px-tb">
                    <div class="feature-box" style="background-image: url(/Content/static/img/feature-box-bg.png);">
                        <div class="icon">
                            <i class="fas fa-phone-square theme-color"></i>
                        </div>
                        <h3 class="font-alt">پشتیبانی</h3>
                        <p>سرویس و خدمات پس از فروش.</p>
                    </div>
                </div> <!-- col -->
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <!-- / -->
    <!-- Why Choose us -->
    <section class="whyus section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="right-img-block">
                        <div class="section-title">
                            <h2 class="theme-after">چرا ما را انتخاب کنید؟</h2>
                            <div class="col-md-11 col-lg-11 text-center p-0px-lr m-10px-t">
                                <p class="text-justify">بدیهی است این شرکت تلاش می‌نماید تا حتی الامکان دستاورد ها‌ی خود را با بهترین کیفیت و برتری،عرضه و با ارائه خدمات پس از فروش (سرویس و نگهداری منظم) توسط کادر متخصص و مجرب رضایت مشتریان خود را جلب نماید. ضمنا کلیه مراحل انتخاب  قطعات و مونتاژ مطابق اخرین استاندارد های ویرایش شده در ایران بوده و این شرکت در سال 1381 با احراز صلاحیت لازم موفق به اخذ پروانه طراحی و مونتاژ اسانسور از وزرات صنایع شده است.</p>
                                <div class="row">
                                    <div class="col-md-5 col-lg-5 p-0px-lr text-left m-10px-t p-15px-l"><span>20</span><p class="title">سال تجربه حرفه ای </p></div>
                                    <div class="col-md-5 col-lg-5 p-0px-lr text-left m-10px-t p-15px-l"><span>500</span><p class="title">پروژه تمام شده </p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- col -->
                <div class="col-md-5 sm-m-30px-t">
                    <img src="/Content/static/img/why-chose-right-block.png" title="" alt="">
                </div>
            </div><!-- row -->
        </div>
    </section>
    <!-- / -->
    <!-- Our Services -->
    <section id="services" class="section gray-bg">
        <div class="container">
            <div class="row justify-content-center m-60px-b md-m-40px-b">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="section-title">
                        <h2 class="theme-after">کاتالوگ های شرکت</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                @foreach (var item in Model.blogs)
                {
                    <div class="col-md-4 md-m-25px-b">
                        <div class="services-item">
                            <div class="img">
                                <img src="@Url.Content("~/UploadedFiles/" + item.ImageName)" title="@item.ImageName" alt="@item.ImageName">
                            </div>
                            <div class="services-content">
                                <h4><a href="#">@item.BlogTitle</a></h4>
                                <a href="@Url.Action("BlogDetail","Home",new { id= item.BlogID})" class="m-btn">اطلاعات بیشتر</a>
                            </div>
                        </div>
                    </div> <!-- col -->

                }
            </div>
            <div class="app-btn-set">
                <div class="text-center mt-4">
                    <a href="/Blogs" class="m-btn">مشاهده‌ بیشتر</a>

                </div>
            </div><!-- row -->

        </div> <!-- container -->
    </section>
    <!-- / -->
    <!-- Our Portfolio -->
    <section id="portfolio" class="section">
        <div class="container">
            <div class="row justify-content-center m-60px-b md-m-40px-b">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="section-title">
                        <h2 class="theme-after">پروژه های ما</h2>
                    </div>
                </div>
            </div>
            <div class="row" style="flex-direction:row-reverse">
                @foreach (var item in Model.projects)
                {
                    <div class="portfolio-item photoshop website col-lg-3 col-sm-6 mb-2">
                        <div class="portfolio-col portfolio-hover-04">
                            <img src="@Html.DisplayFor(modelItem=>item.ImageName)" title="@item.title" alt="@item.title">
                            <a class="overlay theme-bg " data-toggle="modal" data-target="#exampleModalCenter" onclick="Create(@item.id)"></a>
                            <div class="hover text-center p-10px">
                                <p class="m-0px">@Html.DisplayFor(modelItem => item.title)</p>
                            </div> <!-- hover -->
                        </div> <!-- .portfolio-co -->
                    </div> <!-- col -->
                }
            </div> <!-- row --> <!-- row -->
            <div class="app-btn-set">
                <div class="text-center mt-4">
                    <a href="/projects" class="m-btn">مشاهده‌ بیشتر</a>

                </div>
            </div> <!-- portfolio content -->
        </div> <!-- container -->
    </section>
    <!-- / -->

</main>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="display: flex;flex-direction: column;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title ml-auto" id="exampleModalLongTitle">Modal title</h5>
            </div>
            <div class="modal-body" id="myModalBody">
                ...
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        function Create(id) {

            $.get("/projectdetail/" + id, function (res) {
                $("#exampleModalCenter").modal();
                $("#exampleModalLongTitle").html("جزئیات پروژه");
                $("#myModalBody").html(res);
            });

        };
    </script>
}


